h2.doc-heading {
    margin-top: 20px;
    padding:  5px 0 5px 5px;
    background-color: #ffee88;
    border-style: none none none solid;
    border-width: 8px;
    border-color: #ffcc44;
}
h2.doc-heading .highlight, h2.doc-heading code {
    background-color: inherit;
    font-size: 110%;
}

h2 .highlight span.n {
    font-style: italic;
    color: black;
}

h2 .highlight span.n:first-of-type {
    font-style: normal;
}

h3.doc-heading, h4.doc-heading {
    margin-top: 0px;
    padding:  5px 0 5px 5px;
    background-color: #ffffcc;
    border-style: none none none solid;
    border-width: 8px;
    border-color: #ffdd66;
}
h3 .highlight, h4 .highlight {
    background-color: inherit;
    font-size: 110%;
}

.doc-children h3 {
    font-weight: bold;
    font-size: 150%;
}

.doc-children {
    margin-top: 50px;
}

.doc-function {
    margin-top: 30px;
}

.doc-children h3.doc-heading {
    font-weight: bold;
    font-size: 120%;
}

h3 .highlight span.n, h4 .highlight span.n {
    font-style: italic;
    color: black;
}

.doc-section-item code {
    color: black;
    background-color: inherit;
}

.doc-section-item td:first-of-type code {
    font-style: italic;
}

.doc-section-item code a {
    background-color: inherit;
    color: #0044ff;
    font-style: normal;
}


.doc-section-item code span {
    color: #555555;
    background-color: inherit;
    font-style: normal;
}

.hide {
    display: none
}

.doc-contents p code {
    color: black;
    background-color: #ffffcc;
}

#spectralign\.swim\.RefinementStats + div div.doc-children {
    display: none;
}
 
h3 .highlight span.n:first-of-type, h4 .highlight span.n:first-of-type {
    font-style: normal;
}
